.menuDiv {
    background-color: #6240a1;
    width: 20%;
    min-width: 200px;
    color: white;
    text-align: center;
    padding: 5px;
    height: calc(100% - 10px);
    
    display: flex;
    flex-direction: column;
}

.menuDiv a {
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 70%;
    height: auto;
    margin: auto;
    display: block;
    padding: 10px;
}

.providerSelector {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}

.paddingDiv {
    flex: 1;
}

.menuOptions {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuOptions > li {
    padding: 5px;
    text-align: left;
}

.menuOptions > li > a > img {
    padding: 10px 15px 10px 15px;
    vertical-align: middle;
    filter: invert(1);
}