.cardLink {
    color: #9797a0;
    text-decoration: none;
}

.Card {
    display: table;
    width: 100%;
    background-color: #f5f4f9;
    padding: 10px;
    border-radius: 10px;
    height: 100px;
    min-width: 200px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.Card:hover {
    background-color: #e0e0e0;
}

.Card > div {
    display: table-row;
    height: 32px;
}

.Card > div > p {
    display: table-cell;
    vertical-align: middle;
}

.description .detailText {
    font-size: 18px;
}

.detailText {
    color: #9797a0;
}

.description {
    font-weight: bold;
    color: #2a2a35;
    height: 36px;
    overflow: hidden;
}

.icon {
    padding: 5px;
    vertical-align: middle;
}

.shiftColors {
    filter: invert(45%) sepia(26%) saturate(2724%) 
        hue-rotate(163deg) brightness(100%) contrast(95%);
}