.transitionHandler {
    transition: opacity 0.5s ease,
                height 0.5s ease;
    height: 36px;
    overflow: hidden;
}

.fade {
    opacity: 0;
}

.showMore {
    color: #9797a0;
}

.showMore:hover:after {
    content: url("../assets/caret-down-fill.svg");
    /*
    position: relative;
    top: 10px;
    */ /*works, but the caret gets cut off and the span moves a little */
}

.transitionHandler > div {
    transition: inherit;
}

.transitionHandler > div > span {
    transition: inherit;
}