.container {
    width: calc(100% - 20px);
}

.resources {
    /*
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    */
    
    
    display: grid;
    grid-column-gap: 35px;
    grid-row-gap: 15px;
    
    /*
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}